.view-course-catalogue a:visited {
  color: #005b7f;
}

.view-course-catalogue a:hover {
  color: black;
}

.view-course-catalogue, .view-course-catalogue a {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.view-course-catalogue .views-field-title,
.view-course-catalogue .views-field-title a,
.view-course-catalogue .views-field-title a:visited,
.field-name-field-link-to-webform .field-item,
.field-name-field-link-to-webform .field-item a,
.field-name-field-link-to-webform .field-item a:visited,
.views-field-field-link-to-webform,
.views-field-field-link-to-webform a,
.views-field-field-link-to-webform a:visited
 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e5f;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.view-course-catalogue .views-field-body .field-content {
  margin: 10px 0px 20px;
}

.view-course-catalogue .views-field-field-application-date .field-content {
  margin: 10px 0px 20px;
  display: inline;
}

.view-course-catalogue .views-field-field-link-to-webform,
.view-course-catalogue .views-label-field-application-date {
  font-weight: 600;
}

.view-course-catalogue .field-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.view-course-catalogue .views-field-field-application-date .field-content h2 {
  margin: 10px 0 20px;
  font-weight: 600;
}

.view-course-catalogue .views-field-field-link-to-webform {
  margin-top: 10px;
}

.view-course-catalogue .views-row {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F8F8F8;
}

#views-exposed-form-course-catalogue-page {
  padding: 10px;
}

.field-name-field-application-date {
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.field-name-field-link-to-webform .field-item,
.field-name-field-application-date .field-label {
  color: #002e5f;
  font-size: 1.25em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.webform-component--course-description,
.webform-confirmation {
  font-size: 1.5em;
}

.form-control {
  width: auto;
}

input[type=text],
input[type=email] {
  max-width: 300px;
}

.form-actions {
  margin-top: 10px;
}

.webform-confirmation+.links {
  display: none;
}